.Gallery {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}

@media (min-width: 800px) {
  .Gallery {
    justify-content: flex-end;
  }
}

.Gallery img {
  width: 240px;
  height: 240px;
  object-fit: cover;
}

.More-Container {
  padding-top: 4rem;
  text-align: end;
}