main {
  padding-left: 0;
}
@media (min-width: 888px) {
  main {
    padding-left: 4rem;
  }
}
.Main-Content {
  flex-direction: column;
}

@media (min-width: 888px) {
  .Main-Content {
    flex-direction: row;
    padding-bottom: 4rem;
  }
}

main h1 {
  height: 0;
  visibility: hidden;
}

.Gallery {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}

@media (min-width: 888px) {
  .Gallery {
    justify-content: flex-end;
  }
}

.Gallery img {
  width: 240px;
  height: 240px;
  object-fit: cover;
}

.More-Container {
  padding-top: 4rem;
  padding-bottom: 2rem;
}
@media (min-width: 888px) {
  .More-Container {
    text-align: end;
  }
  .Home-Content-Container {
    text-align: end;
  }
}
